#root{
    height:559px;
}

.Options{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.Options:hover{
background-color: #a76ed0;
color: white;
border-radius: 20px;
width: 120px;
height:40px;
}

.Button{
    width:350px;
    height:35px;
    border:0px;
    border-radius:3px;
    margin:10px 0px;
    background-color:#a76ed0;
    color:white
}

.InputBox{
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 10px;
}

.InputFields{
    border-radius:5px;
    width:100%;
    border: 1px solid grey;
}

.uploadBtn{
    border: 2px solid #a76ed0;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    text-align: center;
    color: balck;
}

.uploadBtn:hover{
    background-color: #a76ed0;
    border: none;
    color: white;
}

.modal-overlay{
    position:fixed;
    bottom: 40%;
    top: 35%;
    height: 130px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 0px 10px;
    background: rgb(239, 235, 235);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.confirmBtn{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    border:2px solid #a76ed0;
}

.confirmBtn:hover{
    background-color: #a76ed0;
    color: white;
}

.AllFiles{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 20px;
    margin: 0px 15px 0px 19px;
}

.heading{
    background-color: rgb(242, 242, 242 , 1);
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.download{
    width: 15px;
    color: black;
}
.download:hover{
  color:blue;
}

.Loading{
    display: flex;
    position: relative;
    top: 50%;
    gap:5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.load{
 width: 15px;
 height: 15px;
 border-radius: 10px;
 border-top:2px solid black;
 border-bottom:2px solid black;
 border-left:2px solid black;
 animation: spin 1s linear infinite;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }

}

.search-dropdown {
  position: absolute;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 10;
  width: 300px;
  top: 10%;
}

@media (max-width:700){
    .search-dropdown{
        top: 18%;
    }
}

.search-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #b8b3b3;
}

.search-item:hover {
  background: #f5f5f5;
  border-radius: 6px;
}

.search-meta {
  font-size: 12px;
  color: gray;
}

.no-result{
    font-size: 10px;
    text-align: center;
}

footer{
    position: static;
}

@media (min-width:768px) {
    footer{
        position: fixed;
        bottom: 0;
    }
}

.opt{
    width:'20px';
    margin:'0px 5px';
}

.navbar {
  background: #dedede;
}

.navbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-title {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #a76ed0;
}

@media (max-width: 700px) {
  .navbar-row {
    flex-direction: column;
    gap: 12px;
  }
}

.Input-Box{
    display:flex;
    flex-direction:column;
    gap:3px;
    width:300px;
    font-size:15px;
}

.Input-bar{
    border:'1px solid grey';
    border-radius:20px;
    width:300px;
    padding:0px 5px;
}

.pdf-title{
    width:150px;
    font-size:14px;
    font-weight:bold;
    color:black;
}

.pdf-detail{
    font-size:13px;
    width:90%;
}

.Common{
    display: flex;
    justify-content: center;
    align-items: center;
}