#root{
    height:559px;
}

.Options{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.Options:hover{
background-color: #a76ed0;
color: white;
border-radius: 20px;
width: 120px;
height:40px;
}

.Button{
    width:350px;
    height:35px;
    border:0px;
    border-radius:3px;
    margin:10px 0px;
    background-color:#a76ed0;
    color:white
}

.InputBox{
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 10px;
}

.InputFields{
    border-radius:5px;
    width:100%;
    border: 1px solid grey;
}

.uploadBtn{
    border: 2px solid #a76ed0;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    text-align: center;
    color: balck;
}

.uploadBtn:hover{
    background-color: #a76ed0;
    border: none;
    color: white;
}

.modal-overlay{
    position:fixed;
    bottom: 40%;
    top: 35%;
    height: 130px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 0px 10px;
    background: rgb(239, 235, 235);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.confirmBtn{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    border:2px solid #a76ed0;
}

.confirmBtn:hover{
    background-color: #a76ed0;
    color: white;
}

.AllFiles{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    margin: 0px 15px;
}

.heading{
    background-color: rgb(242, 242, 242 , 1);
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.download{
    width: 15px;
    color: black;
}
.download:hover{
  color:blue;
}